server {
    server_name staging.dalgo.in;

    location / {
        return 301 https://staging.dalgo.org$request_uri;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/staging.dalgo.in/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/staging.dalgo.in/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = staging.dalgo.in) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    server_name staging.dalgo.in;
    listen 80;
    return 404; # managed by Certbot
}

server {
	server_name staging.dalgo.org;

	location / {
		proxy_pass http://localhost:3000;
		include proxy_params;
	}

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/staging.dalgo.org/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/staging.dalgo.org/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = staging.dalgo.org) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

	server_name staging.dalgo.org;
    listen 80;
    return 404; # managed by Certbot
}

server {
	server_name staging-api.dalgo.org;

	location /wss/ {
		proxy_pass http://localhost:8002;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		include proxy_params;
	}

	location / {
		proxy_pass http://localhost:8002;
		include proxy_params;
	}

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/staging-api.dalgo.org/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/staging-api.dalgo.org/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = staging-api.dalgo.org) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


	server_name staging-api.dalgo.org;
    listen 80;
    return 404; # managed by Certbot
}

server {
        server_name wren.dalgo.in;
        location / {
                proxy_pass http://localhost:3001;
                include proxy_params;
        }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/wren.dalgo.in/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/wren.dalgo.in/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = wren.dalgo.in) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    server_name wren.dalgo.in;
    listen 80;
    return 404; # managed by Certbot
}

server {
	server_name wren1.dalgo.in;
	location / {
		proxy_pass http://localhost:3005;
		include proxy_params;
	}

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/wren1.dalgo.in/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/wren1.dalgo.in/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = wren1.dalgo.in) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

	server_name wren1.dalgo.in;
    listen 80;
    return 404; # managed by Certbot
}


